* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#slackDisplayImage {
    object-fit: cover;
    object-position: top;
    height: 200px;
    border-radius: 5px;
}